# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Sensitive vars
*.tfvars
*.tfvars.json

# Terraform plan files
*.plan

# Crash logs
crash.log

# Mac OS / IDE files
.DS_Store
.idea/
.vscode/
