k8s_version: '1.30'
pod_network_cidr: '10.244.0.0/16'
master_private_ip: "{{ hostvars['master']['private_ip'] }}"
docker_gpg_url: 'https://download.docker.com/linux/ubuntu/gpg'
docker_repo: 'deb [arch=amd64 signed-by=/etc/apt/keyrings/docker-apt-keyring.asc] https://download.docker.com/linux/ubuntu focal stable'
k8s_gpg_url: 'https://pkgs.k8s.io/core:/stable:/v{{ k8s_version }}/deb/Release.key'
k8s_repo: 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.asc] https://pkgs.k8s.io/core:/stable:/v{{ k8s_version }}/deb/ /'
